.col{
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.left {
  background-color: #e6e6e6;
  padding: 16px;
}

.right {
  background-color: #24225c;
}

.right h1 {
  text-align: center;
}

label{
  padding-bottom: 8px;
}
.col .header {
  font-size: 10px;
}

.col .text {
  font-size: 18px;
}

.portfolio-value{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #FFFFFF;
}

.portfolio-value-total {
  font-size: 14px;
}

.portfolio-value-content {
  font-size: 30px;
}
